<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Directive Example with angular i materialize</title>
</head>
<body ng-app="directiveExemple" ng-controller="main">
   <div class="container"> 
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                      <input ng-model="example.field1" placeholder="Placeholder" id="first_name" type="text" class="validate">
                      <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                      <input ng-model="example.field2" id="last_name" type="text" class="validate">
                      <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <select select-mater ng-model="example.field3" ng-options="item.subItem as item.label for item in values track by item.id">
                        
                    </select>
                </div>
             
            </form>
        </div>
    </div>
        
    
</body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    
</html>